{% extends 'base.html.twig' %}
{%  block body %}
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-md-9">
                <img src="{{ game.getScreenImage() }}" />
            </div>

            <div class="col-xs-6 col-md-3 sidebar-offcanvas" id="sidebar" role="navigation">
                <div class="list-group">
                    {% for platform in platforms %}
                        <a href="#" class="list-group-item">{{ platform.name }}</a>
                    {% endfor %}
                </div>
            </div><!--/.sidebar-offcanvas-->
        </div>
        <hr>
        {% include '::footer.html.twig' %}
    </div>
{% endblock %}